:root {
  --background: #eaeaea;
  --foreground: #171717;
  --border-color: #c33;
  --border-neon: 0 0 5px var(--border-color), 0 0 8px var(--border-color), 0 0 11px var(--border-color);
  --panel-background: #f8f8f8;
  --upper-panel-background: #f0f0f0;
  --colored-text: #c11;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161116;
    --foreground: #e0e0e0;
    --border-color: #a22;
    --panel-background: #211a21;
    --upper-panel-background: #2a242a;
    --colored-text: #c44;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'bell MT', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

div.panel {
  margin: .5rem;
}

:-webkit-autofill {
  transition: background-color 60000s 0s, color 60000s 0s;
}
