.panelWrapper {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 0 1rem;
    margin: 1rem 2.5rem;
    min-height: 30rem;
}

.imagePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagePanel img {
    width: 100%;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-background);
    padding: 1rem;
    gap: .5rem 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.section {
    --text-color: #111;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--colored-text);
}

.section span {
    color: var(--text-color);
    font-weight: normal;
    font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
    .section {
        --text-color: #bab;
    }
}
